.movie-list {
  display: flex;
  align-items: center;
  margin: 100px 3%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.btn {

}





.text {
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}

input {
  width: 500px;
  background-color: transparent;
  padding: 10px;
  margin-right: 10px;
  color: white;
}
