.movie-list {
  display: flex;
  align-items: center;
  margin: 100px 10%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.text {
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}
input {
  width: 250px;
  background-color: transparent;
  padding: 10px;
}
