<app-welcome-note></app-welcome-note>
<div class='row d-flex justify-content-center'>
  <label for="" class="text">
  </label>
  <input type="text" [(ngModel)]="searchWord" autofocus placeholder="Search for a movie...">
  <button class="btn btn-primary" (click)="searchMovie()">Search</button>
</div>
<h4 *ngIf="isSearch">Search for: {{searchWord}}</h4>
<!-- <p *ngIf=>Movies{{}}</p> -->
<div class="movie-list">
  <app-movie-card [movie]="movie" *ngFor="let movie of movies"

  ></app-movie-card>
</div>
<app-footer></app-footer>
