<div id="container">
  <div class=" col-xs-10 col-sm-5" id="browse-movie-wrap">
    <a href="#" class="browse-movie-link" [routerLink]="['/movie', movie.objectId]">
      <figure>
      <img class="img-responsive" [src]="movie.image.url" [alt]="movie.title" width="210" height="315">
      </figure>
    </a>
    <div class="browse-movie-bottom">
      <a href="#" class="browse-movie-title">{{ movie.title }}</a>
      <div class="browse-movie-year">{{ movie.releaseYear }}</div>
    </div>
  </div>
</div>

