<div class="container">
  <div class="image-container">
    <img [src]="setImage() || null" [alt]="movie.title" width="400" height="600">
    <button type="button" class="btn btn-primary main">Watch Movie</button>
  </div>
  <div class="text-container">
    <p class="movie-title">{{movie.title}}</p>
    <p>{{movie.description}}</p>
    <p>Year: {{movie.release_date}}</p>
    <p>Genre: {{movie.genre}}</p>
    <p>Language: {{movie.Language}}</p>
    <p>Rating: {{movie.rating}}/10</p>
  </div>
  <!-- <div class="more-like d-flex">
    <app-movie-card></app-movie-card>
  </div> -->
</div>
<div class="bottom-container">
    <p>Written by: {{movie.Writer}}</p>
    <p>Directed by: {{movie.Director}}</p>
    <p>Actors: {{movie.Actors}}</p>
</div>
<span type="button" class=" back" (click)='onBack()'><fa-icon [icon]="faBack" size="3x"></fa-icon></span>
<!-- <app-footer></app-footer> -->
