
<div class=" col-xs-10 col-sm-5" id="browse-movie-wrap">
  <div  class="browse-movie-link">
    <img class="img-responsive" [src]="setImage()" [alt]="movie.title" width="200" height="315">
  </div>
  <div class="browse-movie-bottom">
    <a href="#" class="browse-movie-title">{{ movie?.Title || movie?.title }}</a>
    <span class="browse-movie-year">{{ movie?.Year || setDate() }}</span>
    <div class="d-flex">
        <button class="btn btn-info" [routerLink]="['/movie', setId()]">Details</button>
        <app-like [movieId]='movie?.id' [movieLiked]="checkLiked(movie)"></app-like>
    </div>
  </div>
</div>


