<div [ngStyle]="setBackgroundImage()" id="main">
  <h1>{{movie.title}}</h1>
  <a  class="bttn bounce" (click)="onClick()"><fa-icon [icon]="faDown" size="lg"></fa-icon></a>

</div>
<div class="container" id="movie-details">
  <div class="image-container">
    <img [src]="setImage() || null" [alt]="movie.title" width="500" height="650" onError="this.src='../../assets/broken.png'">
    <a [href]="homepage()" *ngIf="homepage()" target=_blank><button type="button" class="btn btn-primary main">Visit Website</button></a>
  </div>
  <div class="text-container">
    <p class="movie-title">{{movie.title}}</p><hr>
    <p>{{movie.overview}}</p>
    <hr>
    <p>Rated: {{moreDetail?.Rated}}</p><hr>
    <p>Runtime: {{moreDetail?.Runtime}}</p><hr>
    <p>Release year: {{moreDetail?.Released}}</p><hr>
    <p>Genre: {{moreDetail?.Genre}}</p><hr>
    <p>Language: {{moreDetail?.Language}}</p><hr>
    <p>Rating: {{moreDetail?.imdbRating}}/10</p>
  </div>
  <!-- <div class="more-like d-flex">
    <app-movie-card></app-movie-card>
  </div> -->
</div>
<div class="bottom-container">
    <p>Written by: {{moreDetail?.Writer}}</p><hr>
    <p>Directed by: {{moreDetail?.Director}}</p><hr>
    <p>Actors: {{moreDetail?.Actors}}</p><hr>
    <p>Production: {{moreDetail?.Production}}</p>
</div>

<!-- <app-footer></app-footer> -->

