#browse-movie-wrap {
  margin-bottom: 15px;
  transition: transform .2s;
}
#browse-movie-wrap:hover {
  transform: scale(1.15);
  z-index: 1;
}

#container {
  display: inline-block;
  margin: 10px;
}

.browse-movie-link {
  display: inline-block;
  max-width: 220px;
  border: 5px solid #fff;
  transition: border .15s ease-in-out;
  -moz-transition: border .15s ease-in-out;
  -webkit-transition: border .15s ease-in-out;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 24px;
  height: 325px;
}
a {
  text-decoration: none!important;
}
a {
  color: #428bca;
  text-decoration: none;
}
a {
  background-color: transparent;
}


.browse-movie-title, .browse-movie-title:focus, #comments-box a {
  color: #fff;
  font-weight: 700;
  display: block;
  transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -webkit-transition: color .15s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.browse-movie-bottom {
  margin: 0 ;
  padding: 0 5px;
  max-width: 220px;
  text-align: left;
}
.browse-movie-year {
  font-size: .85em;
  color: #919191;
}

